/* Estilos padrão (Modo Claro) */
body {
    background-color: #fff;
    color: #333;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Importante para garantir que o padding e margin sejam controlados corretamente */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Ajustar botão para que o layout não quebre */
button {
    padding: 10px 15px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

#loadDataButton {
    background-color: #007BFF;
    color: #fff;
}

#toggleThemeButton {
    background-color: #28a745;
    color: #fff;
}

button i {
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

/* Estilos da Tabela */
#dataTable {
    width: 100%;
    overflow-x: auto; /* Garante que a tabela possa ter rolagem horizontal se necessário */
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Modo Escuro */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode button {
    background-color: #444;
    color: #fff;
}

body.dark-mode #toggleThemeButton {
    background-color: #f39c12;
}

body.dark-mode table {
    background-color: #444;
    color: #fff;
}

body.dark-mode th {
    background-color: #555;
}

body.dark-mode tr:nth-child(even) {
    background-color: #666;
}

/* Adicionar um efeito ao passar o mouse */
tr:hover {
    background-color: #ddd;
}
